* {
    margin: 0;
    padding: 0;
}

.col-md-9.maincontent {
    background: rgba(128, 128, 128, 0.06);
    padding: 33px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #c4c4c4;
}

select {
    width: 30%;
    margin-top: 10px;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 40px;
}

.nextrow {
    font-family: light_hel;
    font-size: 16px;
    color: #15157e;
}

.title {
    font-family: varela;
    font-size: 24px;
    margin-bottom: 20px;
}

.firstrow {
    float: left;
    margin-right: 10px;
}

.row.finishbtn {
    margin-left: 10px;
}

.sll {
    padding: 10px;
    background-color: #e3e3e3;
    width: 100px;
    float: left;
    text-align: center;
    border-radius: 5px;
}

textarea.content {
    padding: 10px;
    font-family: light_hel;
    font-size: 15px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(135, 154, 157, 0.48);
}

.topictitle input[type="text"] {
    width: 350px;
}

input[type="text"] {
    font-family: light_hel;
    color: black;
    font-size: 14px;
    padding: 10px;
    border-radius: 3px;
    border: 1px #c2c2c2 solid;
}

.topicrequire input[type="text"] {
    width: 700px;
}

.topicquantity input[type="text"] {
    width: 100px;
    float: left;
    margin-right: 20px;
}

.topicid, .topictitle, .topicquantity, .topicrequire, .topiccontent {
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 20px;
}

.topicrequire {
    margin-bottom: 70px;
}

.topicformtitle {
    font-family: med_hel;
    color: grey;
    margin-bottom: 10px;
}

.createtopicheader {
    margin-left: 10px;
    margin-top: 20px;
    font-family: varela;
    color: #2c3842;
    font-size: 24px;
}

.practicetable tr:nth-child(even) {
    background-color: #f2f2f2
}

.topictable tr:nth-child(even) {
    background-color: #f2f2f2
}

.practicetable tr:hover {
    background-color: #f5f5f5
}

.topictable tr:hover {
    background-color: #f5f5f5
}

.topicsum {
    padding: 15px;
    margin-top: 10px;
    background-color: #BAFFBC;
    margin-left: 30px;
    width: 730px;
    color: black;
    font-family: light_hel;
    letter-spacing: 1px;
    border: 1px #025d02 dashed;
}

.topicheader {
    font-family: varela;
    margin-top: 20px;
    font-size: 24px;
    margin-left: 20px;
    color: #2c3842;
}

.topictable, .practicetable {
    margin-top: 50px;
}

.practicetable th {
    height: 60px;
    color: white;
    background-color: #549ce7;
    font-size: 15px;
}

.topictable th {
    height: 60px;
    color: white;
    background-color: #2c3842;
    font-size: 15px;
}

.practicetable th, td {
    padding: 10px;
}

.practicetable th, td {
    padding: 10px;
}

.topictable th, td {
    padding: 10px;
}

.practicetable table, th, td {
    border: 1px solid #DDDDDD;
    font-family: helve;
}

.topictable table, th, td {
    border: 1px solid #DDDDDD;
    font-family: helve;
}

.clearallbtn, .submitbtn {
    width: 220px;
    border: 1px #c1c1c1 solid;
    height: 50px;
    padding: 14px;
    text-align: center;
    font-family: varela;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.submitbtn {
    margin-left: 140px;
    background-color: #5ba5e4;
    color: white;
}

.submitbtn:hover {
    background-color: #2C3842;
}

.clearallbtn:hover {
    background-color: #2c3842;
    color: white;
}

.copyright {
    text-align: center;
    color: #717171;
    background-color: #212f3c;
    height: 50px;
    padding-top: 15px;
    font-family: varela;
    font-size: 12px;
}

.col-md-4.about {
    border-left: 1px rgba(255, 255, 255, 0.3) dashed;
    border-right: 1px rgba(255, 255, 255, 0.3) dashed;
}

.link a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    opacity: 0.8;
    transition: all 0.4s ease;
}

.link a:hover {
    opacity: 1;
}

.bottomlink {
    margin-top: 10px;
}

.bottomtitle {
    font-family: med_hel;
    font-size: 20px;
    margin-bottom: 0px;
    border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
    width: 199px;
    text-align: center;
    margin: auto;
    padding-bottom: 5px;
}

.col-md-4.about, .col-md-4.contact {
    margin-top: 35px;
}

.selections a {
    color: #3f6e90;
    margin-left: 10px;
    opacity: 0.8;
    transition: all 0.4s ease;
    text-decoration: none;
}

.selections a:hover {
    opacity: 1;
}

.selections li {
    margin-bottom: 10px;
    font-family: varela;
    color: grey;
}

.selections ul {
    list-style-type: none;
}

.selections {
    border-top: 1px rgba(128, 128, 128, 0.2) solid;
    padding-top: 15px;
}

.studentpicture img.img-responsive {
    margin-bottom: 20px;
}

.main {
    margin-top: 50px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 3px;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 411px;
    font-family: varela;
    font-weight: 600;
    font-size: 15px;
    color: #3f6e90;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
    border-right: 1px rgba(128, 128, 128, 0.2) solid;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.col-md-2.page {
    margin-top: 42px;
}

.p3 {
    font-size: 29px;
}

.p3 {
    font-family: light_hel;
}

.p2 {
    font-size: 19px;
    font-family: helve;
    color: #fbfbfb;
}

.p1 {
    font-size: 21px;
    font-family: med_hel;
}

.bottombrand {
    font-size: 20px;
    margin-top: 70px;
    text-shadow: 1px 1px 2px #423f3f;
}

.footer {
    padding: 1rem;
    text-align: center;
    color: white;
    height: 250px;
    background: -webkit-linear-gradient(#3d5c75, #2C3842);
}

.subfooter {
    width: 100%;
    height: 899px;
    background-image: url(/images/bottompic.png);
}

.registerbtn {
    width: 200px;
    margin: auto;
    background-color: #2C3842;
    color: white;
    height: 40px;
    border-radius: 5px;
    padding: 9px;
    font-family: varela;
    cursor: pointer;
    transition: all 0.4s ease;
    border: 2px white solid;
}

.loginbtn {
    width: 200px;
    margin: auto;
    background-color: rgba(226, 226, 226, 0.29);
    color: white;
    height: 40px;
    border-radius: 5px;
    padding: 9px;
    font-family: varela;
    cursor: pointer;
    transition: all 0.4s ease;
}

.loginbtn:hover {
    background-color: #2C3842;
    width: 500px;
}

.registerbtn:hover {
    border: 2px #2C3842 solid;
    color: #2C3842;
    background-color: #F3F3F3;
}

.inside h2 {
    font-size: 15px;
    color: #888888;
    margin-top: 0px;
    line-height: 25px;
    margin-bottom: 25px;
}

.inside h1 {
    font-size: 40px;
    font-family: varela;
    color: black;
}

.container.inside {
    padding-top: 90px;
    text-align: center;
}

.wide3 {
    width: 100%;
    height: 160px;
    background-size: cover;
    background-color: #2c3842;
}

.wide2 {
    width: 100%;
    height: 420px;
    background-image: url(/images/subbanner.png);
    background-size: cover;
}

.wide {
    width: 100%;
    height: 613px;
    background-image: url(/images/banner.png);
    background-size: cover;
}

.wide img {
    width: 55%;
    margin-top: 9px;
}

.search input[type="text"] {
    width: 150px;
    border-radius: 20px;
    font-size: 14px;
    height: 28px;
    color: grey;
    padding-left: 15px;
    border: 1px rgba(128, 128, 128, 0.2) solid;
    background: #F2F2F2;
}

.signinbtn {
    font-size: 14px;
    background-color: #2C3842;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    margin-top: -2px;
    transition: all 0.4s ease;
    border: 1px transparent solid;
}

.signinbtn:hover {
    border: 1px black solid;
    background-color: white;
    color: black;
}

.top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top li {
    float: left;
    transition: all 0.4s ease;
}

.top li a, .search {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: varela;
    font-size: 18px;
    color: #333333;
    transition: all 0.4s ease;
}

.search:hover i {
    color: white;
}

.top li:hover {
    background-color: #2C3842;
    border-radius: 10px;
    color: white;
}

.top li a:hover {
    color: white;

}

@font-face {
    font-family: helve;
    src: url(/fonts/helveticaneue.ttf);
}

@font-face {
    font-family: med_hel;
    src: url(/fonts/helveticaneuemedium.ttf);
}

@font-face {
    font-family: light_hel;
    src: url(/fonts/helveticaneuelight.ttf);
}

@font-face {
    font-family: bold_hel;
    src: url(/fonts/helveticaneuebold.ttf);
}

@font-face {
    font-family: varela;
    src: url(/fonts/VarelaRound.otf);
}
